@{
    ViewData["Title"] = "Role Permissions";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <h4 class="col">
                @ViewData["Title"]
            </h4>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                    <label>Roles</label>
                    <select asp-items="ViewBag.Roles" id="RoleId" aria-required="true" class="form-select active"></select>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <button type="button" id="btnSearchRolePremissions" class="btn btn-primary rounded-10 font-weight-600 waves-effect waves-float waves-light" data-toggle="tooltip" title="Search Permission"><i class="fas fa-search"></i></button>
            </div>
            <div class="col-12 mt-1" id="divPermissionsContainer"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Url.Action("AdminRolePermissions","LinkScript",new {area=""})" asp-append-version="true"></script>
    <script src="~/js/Admin/Masters/RolesPermissions-Index.js" asp-append-version="true"></script>
}