@model List<SelectListItem>
@{
    var excluedDefault = false;
    if (ViewBag.ExcludeDefault != null)
        excluedDefault = Convert.ToBoolean(ViewBag.ExcludeDefault);
}
@if (!excluedDefault)
{
    <option value="">--Select--</option>
}
@if (Model != null && Model.Any())
{
    foreach (SelectListItem item in Model)
    {
        <option value="@item.Value">@item.Text</option>
    }
}